{% extends 'main/base.html'%} {% import 'bootstrap/wtf.html' as wtf%} {% block content %}
<div class="container " id="container" style="background-image: url(/static/images/loginbac.jpg); padding-top: 10%;padding-bottom: 10%;margin-top: 4%;">
    <div class="row">

        <div class="col-md-6">
            <img src="{{url_for('static', filename='images/loginpagepic1.png')}}" style="height: 150%;margin-top: -10%;margin-left: 20%;" />
        </div>
        <div class="col-md-1"> </div>
        <div class="col-md-5 " id="login">
            <h1 style="margin-top: -5%;">Login</h1>
            <!-- flash messege -->
            {% for message in get_flashed_messages() %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button> {{message}}
            </div>
            {% endfor%}
            <!-- login form -->
            {{wtf.quick_form(login_form)}}
            <p>Don't have an account? <a href="{{url_for('auth.register')}}">Sign UP Here</a></p>
        </div>
    </div>
</div>
{% endblock%}