#container
{
    margin-top: 10%;
   
    
   
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#bg-img {
    background-image: url("/static/2.png");
}
#bg-img{

    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#row{
    padding-top: 100px;
    flex-basis: 50%;
    margin: auto;
}
#col1 img{
    width: 100%;
 }
 #col2{
     /* flex-basis: 50%; */
     margin: auto;
     padding-right: 40px;
     padding: 10px;
 
 }
 #col2 h3{
     font-size: 50px;
     font-weight: bolder;
 }
 .btns .btn{
     background-color: rgb(85, 85, 220);
     color: white;
     font-weight: bolder;
     margin-top: 10%;
 }
 .btns .btn:hover{
 background-color: aliceblue;
 color: rgb(0, 0, 0);
 }
 #col2 p{
    font-size: 25px;
    margin-top: 10%;
}
#card-services{
    border:  1px solid black; 

}
#card-services .fa{
    font-size: 40px;
    text-align: center;
    color: blueviolet;
}
#card-services{
    padding: 10px 10px;
    height: 20vh;
}
#services:hover{
    transform: translateY(-10px);
    /* transition: transfom.3s; */
    /* background-color: #252b42; */
    padding: 3px 3px;
}
.card-body h5{
    font-size: 23px;
    font-weight: bold;
}
.services h2{
    font-size: 30px;
    font-weight: bolder;
}