#container {
    margin-top: 10%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#bg-img {
    background-image: url("/static/2.png");


    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#row {
    padding-top: 100px;
    flex-basis: 50%;
    margin: auto;
}

#col1 img {
    width: 100%;

 }
 #col2{
     /* flex-basis: 50%; */
     margin: auto;
     padding-right: 40px;
     /* padding: 5px 10px; */
 
 }
 #col2 h3{
     font-size: 44px;
     font-weight: bolder;
 }
 .btns .btn{
     background-color: rgb(85, 85, 220);
     color: white;
     font-weight: bolder;
     margin-top: 5%;
 }
 .btns .btn:hover{
 background-color: aliceblue;
 color: rgb(0, 0, 0);
 }
 #col2 p{

    font-size: 25px;
    margin-top: 5%;
}

#card-services {
    border: 1px solid black;
}

#card-services .fa {
    font-size: 40px;
    text-align: center;
    color: blueviolet;
}

#card-services {
    padding: 10px 10px;
    height: 25vh;
}

#services:hover {
    transform: translateY(-10px);
    /* transition: transfom.3s; */
    /* background-color: #252b42; */
    padding: 3px 3px;
}

.card-body h5 {
    font-size: 23px;
    font-weight: bold;
}

.services h2 {
    font-size: 30px;
    font-weight: bolder;
}
#for-img img{
width: 100%;
}
#for-img{
    /* background-color: rgb(119, 109, 229); */
}
#email{
    flex-basis: 50%;
    margin: auto;
}
#email h3{
    font-size: 26px;
    font-weight: bolder;
}
#email p{
    font-size: 18px;
}
#subs{
    font-size: 18px;
}
#carded img{
    width: 100%;
    background-color: black;
}
#textcard p{
    font-size: 22px;
}
#for-footer small{
    font-size: 15px;
    font-weight: 600;
}
#logo{
    font-size: 30px;
    font-weight: bold;
}
.navbar{
    background-color: #d1befc;
}
#home{
    font-size: 22px;
    font-weight: bold;
    color: #000;
}
#auth{
    font-size: 22px;
    font-weight: bold;
}
#auth:hover{

    background-color: #5014dc;
    color: rgb(250, 249, 249);
}