#container {
    margin-top: 10%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#bg-img {
    background-image: url("/static/17.jpg");


    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#row {
    padding-top: 100px;
    flex-basis: 50%;
    margin: auto;
}

#col1 img {
    width: 100%;

 }
 #col2{
     /* flex-basis: 50%; */
     margin: auto;
     padding-right: 40px;
     /* padding: 5px 10px; */
 
 }
 #col2 h3{
     font-size: 44px;
     font-weight: bolder;
 }
 .btns .btn{
     background-color: rgb(113, 113, 220);
     color: white;
     font-weight: bolder;
     margin-top: 5%;
 }
 .btns .btn:hover{
 background-color: aliceblue;
 color: rgb(0, 0, 0);
 }
 #col2 p{

    font-size: 25px;
    margin-top: 5%;
}



#card-services .fa {
    font-size: 40px;
    text-align: center;
    color: rgb(0, 0, 0);
}

#card-services {
    padding: 10px 10px;
    height: 25vh;
}

#services:hover {
    transform: translateY(-10px);
    /* transition: transfom.3s; */
    /* background-color: #252b42; */
    padding: 3px 3px;
}

.card-body h5 {
    font-size: 23px;
    font-weight: bold;
}

.services h2 {
    font-size: 30px;
    font-weight: bolder;
}
#for-img img{
width: 100%;
}
#for-img{
    /* background-color: rgb(119, 109, 229); */
}
#email{
    flex-basis: 50%;
    margin: auto;
}
#email h3{
    font-size: 26px;
    font-weight: bolder;
}
#email p{
    font-size: 18px;
}
#subs{
    font-size: 18px;
}
#carded img{
    width: 100%;
    background-color: black;
}
#textcard p{
    font-size: 22px;
}
#for-footer small{
    font-size: 15px;
    font-weight: 600;
}
#logo{
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.navbar{
    background-color: #ffffff;
    margin-bottom: 0%;
    /* color: rgb(255, 255, 255); */
}
#home{
    font-size: 22px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
#auth a{ 
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.auth{ 
    font-size: 22px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
#auth:hover{

    background-color: #5014dc;
    color: rgb(250, 249, 249);
}
/* * contact section */ 

#contacts{
    background-color: #080925;
}
#for-contact {
    display: flex;
    padding-top: 80px;
    justify-content: space-around;
}

.contact-container {
    color: rgb(255, 255, 255);

}

.contact-container h4 {
    font-size: 17px;
    font-weight: lighter;
    padding: 10px;
    text-align: start;

}

.contact-container h2 {
    color: #ffffff;
    font-weight: bolder;
}

.container-opening {
    color: rgb(255, 255, 255);
    text-align: center;
}

.container-opening h5 {

    font-size: 17px;
    font-weight: lighter;
    padding: 10px;
}
.icons{
    display: flex;
    flex-direction: column;
    line-height: 20px;
}
.icons .fa{
   margin-top: 15px;
    line-height: 20px;
    font-size: 29px;

}
.page-footer{
    background-color: #000000;
    color: white;
}
@media screen and (max-width: 756px){
    .container-opening h2{
        font-size: 20px;
    }
    .container-opening h5{
        font-size: 17px;
    }
    .contact-container{
        font-size: 20px;

    }
}
@media screen and (max-width: 432px){
    .container-opening{
        width: 100%;
    }
    .contact-container{
        font-size: 17px;

    }
    .container-opening h2{
        font-size: 17px;
    }
    .container-opening h5{
        font-size: 13px;
    }
}


