{% extends 'main/base.html'%}{% import 'main/macros.html' as macro %}

<!-- Styles block -->

{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}" /> {% endblock %}

<!-- Content block -->



{% block content %}


<div class="container-fluid " id="bg-img" >



</div>
<div class="container">
    <div class="row" id="row">
        <h3 style="font-family: pacifico;font-weight: bolder;font-size: 45px;text-align: center;"><b>ABOUT US</b></h3>
        <div class="col-md-6" id="col2">

            <p>Feedback is a very powerful tool and is at the heart of effective design. Through Linkspace, find like-minded professionals to give you feedback on your designs. </p>
            <div class="btns">
                <a href="#about-header">
                    <a href="/post/new"><button class="btn btn-lg" style="background-color: darkcyan;">Join Us Today!</button></a>

                </a>




            </div>
        </div>
        <div class="col-md-6" id="col1">

            <img src="{{url_for('static', filename='images/aboutus1.png')}}" />

        </div>
    </div>
</div>
<!-- SERVICESS -->


<div class="container mt-5" id="servic">
    <div class="content">

        <div class="services text-center">

            <h3 style="font-family: pacifico;font-weight: bolder;font-size: 45px;text-align: center;"><b>PROJECT TYPES</b></h3>
            <p style="font-size: 18px;">Designs, illustrations, and graphic elements inspired by the world's best designers. View our Projects</p>
            <div class="border"></div>

        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-5" id="card-content">
            <div class="col h-100" id="services">
                <div class="card" id="card-services">
                    <i class="fa fa-desktop" aria-hidden="true"></i>
                    <div class="card-body">
                        <h5 class="card-title">UX/UI Design</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col" id="services">
                <div class="card" id="card-services">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                    <div class="card-body">
                        <h5 class="card-title">Web Development Desigs</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col" id="services">
                <div class="card" id="card-services">
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                    <div class="card-body">
                        <h5 class="card-title">Copywright Desing</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col" id="services">
                <div class="card" id="card-services">
                    <i class="fa fa-rocket" aria-hidden="true"></i>
                    <div class="card-body">
                        <h5 class="card-title">Graghic Desing</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col" id="services">
                <div class="card" id="card-services">
                    <i class="fa fa-camera" aria-hidden="true"></i>
                    <div class="card-body">
                        <h5 class="card-title">Photography</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col" id="services">
                <div class="card" id="card-services">
                    <i class="fa fa-gamepad" aria-hidden="true"></i>
                    <div class="card-body">
                        <h5 class="card-title">Game Designs</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>

<!-- Projects -->
<div class="container">
    <div class="display">{{macro.display(posts)}}</div>

</div>
<!-- add projects here -->
<!-- team -->
<!-- subscribe -->
<div class="container" id="bg-cont">
    <div class="row">
        <h3 style="font-family: pacifico;font-weight: bolder;font-size: 45px;text-align: center;margin-top: 4%;"><b>SUBSCRIBE</b></h3>
        <div class="col-md-6" id="email">
            <h3>Subscribe to our Newsletter</h3>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            <div class="sub">
                {% for message in get_flashed_messages() %}
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button> {{ message }}
                </div>
                {% endfor %}
                <form class="form-inline" action="{{url_for('main.subscribe')}}" method="POST">
                    <div class="md-form form-group" id="emails">
                        <label class="white-color">Email Address...</label>
                        <input type="email" class="form-control " name="subscriber" required>
                    </div>
                    <div class="md-form form-group">
                        <button class="btn btn-sm btn-outline-info" id="subs">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6" id="for-img">
            <img src="{{url_for('static', filename='8.png')}}" />

        </div>
    </div>
</div>
</div>
    <!-- contact section -->
    <section class="contact" id="contacts">
        <div class="container" id="for-contact">
            <div class="contact-container">
                <h2>LINKSPACE</h2>
                <h4>Phone: +254748860959</h4>
                <h4>Email - linkspace@gmail.com</h4>
            </div>
            <div class="container-opening">
                <h2>Customer Help</h2>
                <h5>User Support</h5>
                <h5>FAQs</h5>
                <h5>Offers</h5>
            </div>
            <div class="container-opening">
                <h2>Usefull Links</h2>
                <h5>Privacy Policy</h5>
                <h5>Join Us</h5>
                <h5>About</h5>
                <h5>Contact Us</h5>

            </div>
            <div class="container-opening">
                <h2>Connect With Us</h2>
                <div class="icons">
                    <i class="fa fa-pinterest" aria-hidden="true" style="color: red;"></i>
                    <i class="fa fa-instagram" aria-hidden="true" style="color: brown;"></i>
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                   <i class="fa fa-facebook" aria-hidden="true" style="color: blue;"></i>
                     <i class="fa fa-twitter" aria-hidden="true" style="color: rgb(7, 224, 248);"></i>
                </div>
               
                

            </div>
        </div>

    </section>
    <!-- Footer -->
    <footer class="page-footer text-white font-small blue">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2022 Copyright:LinkSpace
            <!-- <a href="https://mdbootstrap.com/"> MDBootstrap.com</a> -->
        </div>

    </footer>
{% endblock%}