{% extends 'main/base.html'%}{% import 'bootstrap/wtf.html' as wtf%}{% import 'main/macros.html' as macro %} {% from 'main/macros.html' import display%} {% from 'main/macros.html' import display_comments%}{% block content %}

<body>


    <div class="container" style="background-image: url(/static/images/comment.jpeg);padding-bottom: 5%;padding-top: 4%;">
        <div class="row" style="margin-top: 2%;">

            <div class="col-md-4">{{macro.display_comments(comments)}}</div>



        </div>
        <div class="row col-md-12" style="margin-top: 2%;padding-top: 5%;padding-bottom: 5%;width: 50%;border-radius: 20px;margin-left: 25%;background-color: white;">
            <div class="col-md-2"></div>
            <div class="col-md-8">{{wtf.quick_form(comment_form)}}</div>
            <div class="col-md-2"></div>
        </div>

    </div>



    {% endblock %}